<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/mycss.css' %}"
<!-- 引入boorstrap -->

	
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>

<body>
<h1>The infomation of action {{actname}} !</h1>
<br>
<h3>The action will be held on {{actdate}}</h3>
<h3>
	{% if able == True%}
		The action is running...
	{%else%}
		The action has already finished!
	{%endif%}
</h3>

<h4>These user will attend:</h4>
<table>
{% for key,value in partner.items %}
<tr>
<td>{{key}}</td>
<td>{{value}}</td>
</tr>
{% endfor %}


</table>

<a href="http://127.0.0.1:8000/online/userinfo/">Return to the userinfo page.</a>
</body>
</html>
